@charset "UTF-8";

body {
  background-image: url("img/background.jpg");
}

/*NAVIGACIONI BAR*/

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
  background-image: url("img/navground.jpg");
  color: #ffedcd;
  padding: 3px 0;
  font-size: 18px;
  border: 0;
}

.navbar-brand {
  float: left;
  min-height: 55px;
  padding: 2px 15px 5px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
  color: black;
  background-color: #f2ce8f;
  margin-right: 10px;
  border-radius: 7px;
}

.navbar-inverse .navbar-nav li a {
  color: #f2ce8f;
}

/*SLAJDERI*/

.carousel-caption {
  top: 30%;
  transform: translateY(-30);
  text-transform: uppercase;
}

.carousel-caption .btn {
  font-size: 18px;
  color: #FFFFFF;
  padding: 7px 25px;
  background: #04a515;
  border: 2px solid black;
  margin-top: 30px;
  border-radius: 7px;
}

.carousel-caption h1 {
  text-shadow: 3px 3px 3px black;
}

.carousel-caption p {
    text-shadow: 3px 3px 3px black;
}

/*Responsive teksta ne funkcionise*/

@media(max-width: 300px) {
  .carousel-caption{
    top: 20%;
  }

  .carousel-caption h1 {
    font-size: 10px;

  }

  .carousel-caption p {
    font-size: 10px;
  }

  .btn {
    font-size: 10px;
    margin-top: 25px;
  }


}

/*ABOUT*/
.col-lg-6{
  text-align: center;
}

.col-lg-6 img{
  border-radius: 10px;
  padding: 15px 0px 0px;
}

.col-lg-6 p {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
}

.row {
  text-align: center;
}

.social {
  margin-top: 20px;
}

.social a {
  font-size: 40px;
  padding: 25px;
}
.fa-facebook {
  color: #3b5998
}

.fa-twitter {
  color: #00aced
}

.fa-instagram {
  color: #517fa4
}

.fa-google-plus {
  color: #dd4b39
}
/*PRODUCTS*/

.caption h4 {
  text-align: center;
}

h3 {
  text-align: center;
}

.image {
  margin: 0px auto;
  width: 300px;
  height: 300px;
}

.image img {
  margin: 0px auto;
  width: 300px;
  height: 300px;
}

/*CONTACT STRANA*/

.iframe-container {
  margin-top: 60px;
}

.contact-form{
  margin-top: -30px;
  padding: 0px 0px 0px;
  text-align: center;
}



.contact-form p {
  padding-bottom: 50px;
  color: #4c4c4c;
  font-size: 18px;
}

.contact-form h2 {
  color: #2c2c2c;
  font-size: 40px;
}

.contact-form .input-group {
  margin-bottom: 25px;
}

.contact-form .btn {
  width: 100%;
  color: #f2ce8f;
  background: #2c2c2c
}





/*FOOTER DEO*/
footer {
  background-image: url("img/navground.jpg");
  color: #f2ce8f;
  padding-top: 3px;
  margin-top: 50px;
}

hr.light {
  border-top: 1px solid #f2ce8f;
  width: 100%;
  margin-top: 1px;
  margin-bottom: 1px;
}

footer a{
  color: #f2ce8f;
}

.col-md-4 h4 {
  margin-top: 30px;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
