@charset "UTF-8";

body {
  background-image: url("antique/img/background.jpg");
}

/*NAVIGACIONI BAR*/

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
  background-image: url("antique/img/navground.jpg");
  color: #ffedcd;
  padding: 3px 0;
  font-size: 18px;
  border: 0;
}

.navbar-brand {
  float: left;
  min-height: 55px;
  padding: 2px 15px 5px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
  color: black;
  background-color: #f2ce8f;
  margin-right: 10px;
  border-radius: 7px;
}

.navbar-inverse .navbar-nav li a {
  color: #f2ce8f;
}

/*SHOP*/


.contact-form{
  padding: 0px 0px 0px;
  text-align: center;
}



.contact-form p {
  padding-bottom: 50px;
  color: #4c4c4c;
  font-size: 18px;
}

.contact-form h2 {
  margin-top: 100px;
  color: #2c2c2c;
  font-size: 40px;
}

.contact-form .input-group {
  margin-bottom: 25px;
}

.contact-form .btn {
  width: 30%;
  color: #f2ce8f;
  background: #2c2c2c;
  margin-left: 15px;
  margin-right: 15px;
}





/*FOOTER DEO*/
footer {
  background-image: url("antique/img/navground.jpg");
  color: #f2ce8f;
  padding-top: 3px;
  margin-top: 50px;
}

hr.light {
  border-top: 1px solid #f2ce8f;
  width: 100%;
  margin-top: 1px;
  margin-bottom: 1px;
}

footer a{
  color: #f2ce8f;
}

.col-md-4 h4 {
  margin-top: 30px;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
